<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @room.desc %>
</p>

<p>
  <b>Bed:</b>
  <%= @room.bed %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
